In [1]:
import numpy as np 
import pandas as pd 
from pandas import DataFrame
import os
for dirname, _, filenames in os.walk('/Users/tianyisun/Desktop/NLQbatches/batch1'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/Users/tianyisun/Desktop/NLQbatches/batch1/batch1_annotationtask_sql_errorcategory.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/record_id-code_Krippendroffis_alpha.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/annotation_feedback_coded_tianyi.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/batch1_category_Fleiss_kappa.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/description-code.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/.DS_Store
/Users/tianyisun/Desktop/NLQbatches/batch1/46iter1_stability.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/First-round error type annotation.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/anntask.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/ann3_description.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/descri-code_Fleiss_kappa.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/mapping.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/annotation_feedback_coded_zheng_v2.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/description-code_Krippendroffis_alpha.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/first round error type annotations.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/record_score.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/description_code.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/record_id-code_Fleiss_kappa.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/annotation_feedback_coded_ningzheng_v2.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/result.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/annotationsdescription.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/description_matrx.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/record_id_code_matrix.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/desrc_score.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/record_id_code.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/batch1_category_Krippendroffis_alpha.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/result2.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/annotation_feedback_coded_tianyi_v2.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/batch1_category_stability.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/First-round error type annotation - Sheet1_Toby.csv

In [22]:
fb = pd.read_csv('/Users/tianyisun/Desktop/NLQbatches/batch1/annotationsdescription.csv')
#fb.zhengn_code = fbnz.zhengn_code
fb['record_id'] = 'record_id'
fb['coder_tianyi'] = 'tianyi'
fb['coder_zhengn'] = 'zhengn'
fb['coder_zhengz'] = 'zhengz'
fb['coder_toby'] = 'toby'

# split the df
tianyisun = fb[['sql_id','coder_tianyi','record_id','code_tianyi']]
zhengning = fb[['sql_id','coder_zhengn','record_id','code_zhengn']]
zhengzhang = fb[['sql_id','coder_zhengz','record_id','code_zhengz']]
tobyli = fb[['sql_id','coder_toby','record_id','code_toby']]

# rename the columns
tianyisun = tianyisun.rename(columns={"coder_tianyi":"username"})
zhengning = zhengning.rename(columns={"coder_zhengn":"username"})
zhengzhang = zhengzhang.rename(columns={"coder_zhengz":"username"})
tobyli = tobyli.rename(columns={"coder_toby":"username"})

tianyisun = tianyisun.rename(columns={"code_tianyi":"error_classification"})
zhengning = zhengning.rename(columns={"code_zhengn":"error_classification"})
zhengzhang = zhengzhang.rename(columns={"code_zhengz":"error_classification"})
tobyli = tobyli.rename(columns={"code_toby":"error_classification"})

# aggregate the columns 
feedback1 = tianyisun.append(zhengning, ignore_index=True, sort=False)
feedback1 = feedback1.append(zhengzhang, ignore_index=True, sort=False)
feedback1 = feedback1.append(tobyli, ignore_index=True, sort=False)
print(len(feedback1))
len(feedback1.sql_id.unique())
feedback1 = feedback1.drop_duplicates(subset =['sql_id','username','error_classification'])
feedback =feedback1

'''error type''' # feedback = non-duplicate task'''
code = feedback['error_classification'].str.split(';', expand=True)
code.columns = ['error_classification{}'.format(x+1) for x in code.columns]
result = feedback.join(code)
print(len(result))
print(len(code))
result.head(3)

724

In [82]:
for i in range(len(result)):
    feedback['error_classification'].str.split(';', expand=True)
    
'''
[username,record_id,error_classification]
'''
annot = []
for i in range(0,len(result)): 
    for j in range(4,len(result.columns)):
        annot.append([result.iloc[i][0], result.iloc[i][1], result.iloc[i][2], result.iloc[i,j]])

        
        
#        res = [char for char in test_str if char.isupper()]   
'''remove empty spaces'''
annotask = []
count=0
for i in annot:
    if str(i[3]) == 'None':
        count+=1
    if type(i[3]) is str:
        i[3] = (i[3]).replace(' ', '')
       # if i[3].isupper()==True:
        annotask.append(i)

res = []
for i in annotask:
    if i not in res:
        res.append(i)
print('error type')      
print('The # of annotation task, before removing empty spaces:', len(annot))
print('The # of annotation task, after removing empty spaces:', len(res))
'''df format of annotation task'''
ann =DataFrame(res)

print('The # of unique single error types:', len(ann.iloc[:,3].unique()))   
print('The # of non empty error types:', count)
ann.columns =['sql_id', 'username', 'record_id', 'code']
ann.head(3)

len(ann.sql_id.unique())

error type
The # of annotation task, before removing empty spaces: 2270
The # of annotation task, after removing empty spaces: 468
The # of unique single error types: 40
The # of non empty error types: 1501

46

In [87]:
ann.to_csv('batch1/batch1_anntask_sql_type.csv', index = True)

---

In [144]:
'''error category'''
rs = feedback   #rs = error type 
code = feedback['error_classification'].str.split('', expand=True)
code.columns = ['error_classification{}'.format(x+1) for x in code.columns]
result = feedback.join(code)
print(len(result))
print(len(code))
result.head(2)

'''
[username,record_id,error_classification]
'''
annot = []
for i in range(0,len(result)): 
    for j in range(4,len(result.columns)):
        annot.append([result.sql_id[i], result.username[i], result.record_id[i], result.iloc[i,j]])

#        res = [char for char in test_str if char.isupper()]   
'''remove empty spaces'''
annotask = []
count=0
for i in annot:
    if str(i[3]) == 'None':
        count+=1
    if type(i[3]) is str:
        i[3] = (i[3]).replace(' ', '')
        if i[3].isupper()==True:
            annotask.append(i)

res = []
for i in annotask:
    if i not in res:
        res.append(i)

print('error category') 
print('The # of annotation task, before removing empty spaces:', len(annot))
print('The # of annotation task, after removing empty spaces:',len(res))
'''df format of annotation task'''
ann =DataFrame(res)

print('The # of unique single error categorys:', len(ann.iloc[:,3].unique()))   
print('The # of non empty error categorys:', count)
ann.columns =['sql_id', 'username', 'record_id', 'code']
ann.head(3)
ann.to_csv('batch7/correct_batch4567_anntask_sql_errorcategory.csv', index = True)
len(ann.sql_id.unique())

2662
2662
error category
The # of annotation task, before removing empty spaces: 85184
The # of annotation task, after removing empty spaces: 6325
The # of unique single error categorys: 13
The # of non empty error categorys: 59496

1098

---
--- 
batch6

In [15]:
# check for duplicate ids
#batch6.sql_id.value_counts()
# check the # of rows

In [16]:
# split the df
tianyisun = batch6[['sql_id','username_x','record_id_x','error_classification_x']]
zhengning = batch6[['sql_id','username_y','record_id_y','error_classification_y']]
# rename the columns
tianyisun = tianyisun.rename(columns={"username_x":"username"})
tianyisun = tianyisun.rename(columns={"record_id_x":"record_id"})
tianyisun = tianyisun.rename(columns={"error_classification_x":"error_classification"})
zhengning = zhengning.rename(columns={"username_y":"username"})
zhengning = zhengning.rename(columns={"record_id_y":"record_id"})
zhengning = zhengning.rename(columns={"error_classification_y":"error_classification"})
# aggregate the columns 
feedback = tianyisun.append(zhengning, ignore_index=True, sort=False)
feedback

,sql_id,username,record_id,error_classification
0,1404,tianyi,2a278125-6a83-47c2-b2b8-64556ec7ee8c,"F4, BL1"
1,1407,tianyi,6cff1386-59ad-4a2a-886b-c8eef90af993,"L4, CM6"
2,1408,tianyi,4253e6ef-1545-4ad4-b4be-0e9b4a74151f,"BE5, F4, BL1"
3,1412,tianyi,b95871db-2f46-4769-bad3-1e5d2e7d8525,"F4, E1, L5, AN2"
4,1413,tianyi,a0f07eae-7570-42d2-83c1-0a4d69f7b03a,"BE5, L5, CE2, F3"
...,...,...,...,...
791,2270,zhengning,6f54f5ff-e8a4-4858-87f5-ac846e5ebcdd,"A2a, P3, K2, F2"
792,2283,zhengning,ec043c31-10b6-4724-a3e6-50e596084e79,"BK1, CE2"
793,2285,zhengning,2554e37e-497d-45c7-96f9-e739d315b854,BL1
794,2286,zhengning,0bb11ab9-0a53-4f6b-ba58-d754a2920e18,"A2c, E1"
795,2287,zhengning,0d18ea30-aaee-41ad-95d0-974ee83c1360,"A2c, E1"

In [17]:
len(feedback.sql_id.unique())

398

In [18]:
'''error type''' # feedback = non-duplicate task'''
code = feedback['error_classification'].str.split(',', expand=True)
code.columns = ['error_classification{}'.format(x+1) for x in code.columns]
result = feedback.join(code)
print(len(result))
print(len(code))
result.head(2)

'''
[username,record_id,error_classification]
'''
annot = []
for i in range(0,len(result)): 
    for j in range(4,len(result.columns)):
        annot.append([result.sql_id[i], result.username[i], result.record_id[i], result.iloc[i,j]])

#        res = [char for char in test_str if char.isupper()]   
'''remove empty spaces'''
annotask = []
count=0
for i in annot:
    if str(i[3]) == 'None':
        count+=1
    if type(i[3]) is str:
        i[3] = (i[3]).replace(' ', '')
       # if i[3].isupper()==True:
        annotask.append(i)

res = []
for i in annotask:
    if i not in res:
        res.append(i)
print('error type')      
print('The # of annotation task, before removing empty spaces:', len(annot))
print('The # of annotation task, after removing ', len(res), ' empty spaces:')
'''df format of annotation task'''
ann =DataFrame(res)

print('The # of unique single error types:', len(ann.iloc[:,3].unique()))   
print('The # of non empty error types:', count)
ann.columns =['sql_id', 'username', 'record_id', 'code']
ann.head(3)
ann.to_csv('batch6_annotationtask_sql_type.csv', index = True)
len(ann.sql_id.unique())

796
796
error type
The # of annotation task, before removing empty spaces: 5572
The # of annotation task, after removing  1490  empty spaces:
The # of unique single error types: 52
The # of non empty error types: 4054

397

In [43]:
proc1 = pd.read_csv('/Users/tianyisun/Desktop/NLQbatches/batch1/anntask.csv')
proc2 = pd.read_csv('/Users/tianyisun/Desktop/NLQbatches/batch1/mapping.csv')
annotation = pd.merge(proc1, proc2, on ='id', how = 'left')
feedback = annotation
feedback = feedback.rename(columns={"category":"error_classification"})
#feedback = feedback.rename(columns={"coder":"username"})
feedback

,coder,id,error_classification,record_id,username,sql_id
0,toby,0,A1a,07cd3641-37d2-4d77-adc6-3145d6a1ed7b,zhengzhang,2149
1,toby,1,A1a,43fe6397-5991-4649-93f7-b2799ca6bdc5,tianyi,2149
2,toby,2,A1a,c9da76da-8852-4f87-b6f7-46fbc71c97f5,zhengning,2149
3,toby,3,A1a,bb34cb0a-bb6f-43ff-8602-e9a4e7f9aafe,toby,2149
4,toby,4,BL1,083648b7-309e-494b-a65c-f23938a5529e,zhengzhang,532
...,...,...,...,...,...,...
984,zhengz,5,BL1,44ed974d-1e31-4858-90d1-02ef847715a9,tianyi,532
985,zhengz,7,BL1,6af39e05-6ffe-44be-bd00-6cea7df72725,toby,532
986,zhengz,100,BF4,8fd24b43-e89c-45c4-b06c-82b4a0e511b4,toby,1151
987,zhengz,102,CL1,31356e1d-edf2-4984-a80c-e35111ad300b,tianyi,2051
988,zhengz,143,BF4,e7107bae-a61a-4ae9-bd8c-367741c073e5,tianyi,2025

In [44]:
'''error category'''
rs = feedback   #rs = error type 
code = feedback['error_classification'].str.split('', expand=True)
code.columns = ['error_classification{}'.format(x+1) for x in code.columns]
result = feedback.join(code)
print(len(result))
print(len(code))
result.head(2)

'''
[username,record_id,error_classification]
'''
annot = []
for i in range(0,len(result)): 
    for j in range(4,len(result.columns)):
        annot.append([result.sql_id[i], result.username[i], result.record_id[i], result.iloc[i,j]])
        #annot.append([result.sql_id[i], result.username[i], result.iloc[i,j]])

#        res = [char for char in test_str if char.isupper()]   
'''remove empty spaces'''
annotask = []
count=0
for i in annot:
    if str(i[3]) == 'None':
        count+=1
    if type(i[3]) is str:
        i[3] = (i[3]).replace(' ', '')
        if i[3].isupper()==True:
            annotask.append(i)

res = []
for i in annotask:
    if i not in res:
        res.append(i)

print('error category') 
print('The # of annotation task, before removing empty spaces:', len(annot))
print('The # of annotation task, after removing empty spaces:',len(res))
'''df format of annotation task'''
ann =DataFrame(res)

print('The # of unique single error categorys:', len(ann.iloc[:,3].unique()))   
print('The # of non empty error categorys:', count)
ann.columns =['sql_id', 'username', 'record_id', 'code']
#ann.columns =['sql_id', 'username', 'code']
ann.head(3)
#ann.to_csv('batch6_annotationtask_sql_errorcategory.csv', index = True)
len(ann.sql_id.unique())

989
989
error category
The # of annotation task, before removing empty spaces: 7912
The # of annotation task, after removing empty spaces: 509
The # of unique single error categorys: 13
The # of non empty error categorys: 1210

46